MYSQL_FQDN=<mysql db instance>.mysql.database.azure.com
MYSQL_USER=migrate_admin
MYSQL_DB=<source db>
PG_FQDN=<the db instance>.postgres.database.azure.com
PG_USER=<app owner user>
PG_DB=<target db>
PG_SCHEMA=<target schema, e.g. public or desktop>
export CHAMELEON_COPY_MAX_MEMORY=50M
